body {
    background-color: black;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.one{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content:center;
}



.wheels-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media only screen and (min-width: 320px){
    
    .one{
        margin-top: 200px;
    }
    .chartContainer{
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        grid-row-gap: 50px
    }
    
    .wheel{
        display: flex;
        align-items: center;
        margin-bottom:  50px;
    }
    
    .sun{
	width: 110px;
	height: 110px;

    }

    .earth{
        width: 50px;
        height: 50px;


    }

    .mars{
        width: 35px;
        height: 35px;

    }
    
    #two{
    display:flex;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 50px
    
    }
    
    #five{
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 500px){
    
    .one{
        margin-top: 0px;
    }
    .chartContainer{
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 10px;
        grid-row-gap: 50px
    }
    
    .wheel{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:  50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .sun{
	width: 220px;
	height: 220px;

    }

    .earth{
        width: 80px;
        height: 80px;

    }

    .mars{
        width: 50px;
        height: 50px;

    }
    
    #two{
    display:flex;
    align-items: center;
    flex-direction: row;
    grid-row-gap: 50px
    
    }
    
   #five{
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 850px){
    

    .chartContainer{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 50px
    }
    
    .wheel{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:  50px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .sun{
	width: 220px;
	height: 220px;

    }

    .earth{
        width: 80px;
        height: 80px;

    }

    .mars{
        width: 50px;
        height: 50px;

    }
    
    .one{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #five{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
    
    }
    
    #two{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    

}